* {
  box-sizing: border-box;
}
:root {
  --bg-color: rgb(240, 230, 140);
}

body {
  overflow: hidden;
  max-width: 100vw;
  margin: 0;
  background-color: var(--bg-color);
}

.wrapper {
  display: flex;
  background-color: white;
  width: 100vw;
  height: 100vh;
}

.growing-block {
  background-color: var(--bg-color);
}

.counter-positon {
  position: fixed;
  top: 50%;
  left: 50%;
}

.counter-style {
  font-size: 3rem;
  font-family: monospace, sans-serif;
}
